/************ Login Box Styles ************/

article.access {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    height: 600px;
    width: 600px;
    margin: 0px auto 60px auto;
    padding: 40px 0px;
}

article.access #chg-action {
    position: absolute;
    bottom: 30px;
    right: 60px;
}

#chg-action button {
    display: block;
    width: 120px;
    height: 50px;
    margin: 0 auto;
    font-size: 1.1em;
    font-weight: 700;
    /* text-transform: uppercase; */
    letter-spacing: 0.075em;
    color: rgba(251, 251, 251, 0.65);
    cursor: pointer;
    -webkit-appearance: none;
    background: rgba(236, 0, 140, 0.9);
    background: -webkit-linear-gradient(to bottom left, rgba(252, 104, 104, 0.9), rgba(236, 0, 140, 0.9));
    background: linear-gradient(to bottom left, rgba(252, 104, 104, 0.9), rgba(236, 0, 140, 0.9));
    border: none;
    box-shadow: 0px 0px 20px rgba(236, 0, 140, 0.4);
    transition: 0.2s ease-in-out all;
}

#chg-action button:hover {
    color: rgba(251, 251, 251, 1);
    background: rgba(236, 0, 140, 1);
    background: -webkit-linear-gradient(to bottom left, rgba(252, 104, 104, 1), rgba(236, 0, 140, 1));
    background: linear-gradient(to bottom left, rgba(252, 104, 104, 1), rgba(236, 0, 140, 1));
    box-shadow: 0px 0px 20px rgba(236, 0, 140, 0.6);
}

section.login, section.register {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 400ms cubic-bezier(0.075, 0.7, 0.125, 1.2);
}

section.lft-open {
    left: 26%;
}

section.rgt-open {
    left: 97%;
}

article.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 600px;
    width: 100%;
    margin-bottom: 60px;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 580px;
    width: 420px;
    background: #FBFBFB;
}

.box .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: calc(85% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
}

.box .header {
    flex: 0 1 42%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.box .header h2 {
    position: relative;
    width: 90%;
    margin-bottom: 30px;
    font-size: 2em;
    color: #2D383C;
    text-transform: uppercase;
    text-align: center;
}

.box .header h2::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 2px;
    width: 100%;
    margin: 0 auto;
    background: rgba(26, 204, 149, 0.8);
    background: linear-gradient(to top right, #1ACC94 0%, #61ebc0 100%);
}

.box .header img {
    max-height: 160px;
}

.box form {
    flex: 1 0 50%;
    height: 50%;
    padding: 0px 0px;
    background: none;
    box-shadow: none;
}

.box form::before {
    height: 0;
    background: none;
}

.box fieldset {
    width: 100%;
    margin: 0;
}

.box fieldset input {
    margin: 0px 0px;
    background: rgba(126, 154, 148, 0.05);
    box-shadow: none;
}

.box fieldset input:focus {
    border: 2px solid rgba(26, 204, 149, 1);
    box-shadow: 0px 0px 20px rgba(26, 204, 149, 0.4);
}

.box fieldset label {
    position: absolute;
    top: 50%;
    margin-left: 14px;
    font-weight: 700;
    font-size: 0.85em;
    letter-spacing: 0.1em;
    color: #CFCFCF;
    opacity: 1;
    transform: translateY(-50%);
    transition: 0.2s ease all;
    z-index: 840;
}

.box fieldset input:focus + label {
    margin-left: 0px;
    opacity: 0;
}

.box .submit {
    height: 80px;
    margin-top: 12px;
	z-index: 9;
}

.box .submit button {
    display: block;
    position: relative;
    top: 0px;
    width: 250px;
    height: 45px;
    margin: 0 auto;
    font-size: 1.4em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: rgba(251, 251, 251, 0.6);
    cursor: pointer;
    -webkit-appearance: none;
    background: rgb(26, 204, 149);
    background: linear-gradient(to right top, rgb(26, 204, 148) 0%, rgb(67, 231, 179) 100%);
    opacity: 0.85;
    border: none;
    box-shadow: 0px 0px 20px rgba(26, 204, 149, 0.5);
    transition: 0.3s ease-in-out all;
}

.box .submit button:hover {
    top: -4px;
    color: rgba(251, 251, 251, 1);
    background: rgb(26, 204, 149);
    background: linear-gradient(to right top, rgb(26, 204, 148) 25%, rgb(67, 231, 179) 100%);
    opacity: 1;
    box-shadow: 0px 4px 20px rgba(26, 204, 149, 0.6);
}

.box .footer {
    flex: 0 1 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
	z-index: 8;
}

.box .footer a.help-link {
    margin-bottom: 0px;
    color: #DBDBDB;
    font-size: 0.9em;
    transition: 0.2s ease all;
}

.box .footer a.help-link:hover {
    margin-bottom: 6px;
    color: rgba(26, 204, 149, 1);
    text-shadow: 0px 6px 20px rgba(26, 204, 149, 0.3);
}

.box .name {
	display: inline-flex;
}

.FirstName input, .LastName input {
	align-self: flex-start;
}

.FirstName, .LastName {
	align-self: flex-end;
}
